*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*::before,
*::after{
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    flex-direction: column;
}
.code-wrapper{
    flex:1;
    height:50%;
    padding:17px;
}
.preview-wrapper{
    flex:1;
    height:50%;
}
#code{
    overflow:hidden;
    height:100%;
    font-size:18px;
}
.wrapper{
    width:100%;
    height:165px;
    position:relative;
 }